$color-primary-500: #ffb84c;

$color-neutral-30: #fcfcfc;
$color-neutral-40: #f7f7f7;
$color-neutral-50: #f2f2f2;
$color-neutral-200: #cccccc;
$color-neutral-400: #7d7d7d;
$color-neutral-500: #1e1e1e;
$color-neutral-600: #1a1a1a;
$color-neutral-950: #000000;
