$color-primary-500: #ffb84c;

$color-neutral-30: #FCFCFC;
$color-neutral-50: #F2F2F2;
$color-neutral-400: #7d7d7d;
$color-neutral-500: #1E1E1E;
$color-neutral-600: #1A1A1A;
$color-neutral-950: #000000;
