@use "./color-variables" as *;

$body-font: "Inter", sans-serif;
$heading-font: "Space Grotesk", monospace;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

$border-radius-4: 0.4rem;

$box-shadow-bottom: 0 0.4rem 0.5rem 0.4rem rgba($color: $color-neutral-500, $alpha: 0.03);
$box-shadow-right-bottom: 0.2rem 0.4rem 0.5rem 0.4rem rgba($color: $color-neutral-500, $alpha: 0.03);
