@if (!buttonProps.isHref) {
  <button
    class="button"
    (click)="click($event)"
    [class.active]="buttonProps.isActive"
    [ngClass]="getButtonStyle()"
  >
    <ng-container [ngTemplateOutlet]="buttonPropsRef"></ng-container>
  </button>
} @else {
  <a
    class="button"
    [class.active]="buttonProps.isActive"
    [ngClass]="getButtonStyle()"
    [href]="buttonProps.href"
    [target]="buttonProps.href"
  >
    <ng-container [ngTemplateOutlet]="buttonPropsRef"></ng-container>
  </a>
}

<ng-template #buttonPropsRef>
  @if (buttonProps.showLabel && buttonProps.label) {
    {{ buttonProps.label }}
  }

  @if (buttonProps.showIcon && iconProps && iconProps.iconName) {
    <app-icon [size]="iconProps.iconSize" [name]="iconProps.iconName" />
  }

  @if (buttonProps.overlineLabel) {
    <span class="overline-label">{{ buttonProps.overlineLabel }}</span>
  }
</ng-template>
