@use "../../../../../assets/styles/base/mixins" as *;

.main {
  max-width: 144rem;
  height: calc(100% - 16rem);
  padding: 1.6rem 8rem;
  margin: 0 auto;
  overflow-y: auto;

  @include breakpoint($bp: 850px) {
    padding: 0 2.4rem;
  }
}
