<div class="card">
  <div class="container">
    <img class="img" [src]="cardProps.image" [alt]="cardProps.title" />
    <div class="info">
      <h3>{{ cardProps.title }}</h3>
      <p class="description">
        {{ cardProps.description }}
      </p>

      @if (cardProps.tags) {
        <ul class="tags">
          @for (tag of cardProps.tags; track $index) {
            <li class="tag">{{ tag }}</li>
          }
        </ul>
      }

      <div class="button-container">
        <app-button
          class="button"
          [buttonProps]="cardProps.buttonProps.primary"
        ></app-button>

        @if (cardProps.buttonProps.secondary) {
          <app-button
            class="button"
            [buttonProps]="cardProps.buttonProps.secondary"
          ></app-button>
        }
      </div>
    </div>
  </div>
</div>
