@use "../../../../assets/styles/components/link" as *;
@use "../../../../assets/styles/base" as *;

.link {
  @include link-default-12;

  cursor: pointer;

  &.active {
    color: $navigation-primary-active;
    font-weight: $font-weight-700;
  }
}
