<div class="main-container">
  <section class="left-section">
    <div class="text-container">
      <span class="intro">Olá 👋, me chamo</span>
      <app-title title="Luciane Santos" />
      <app-sub-title
        subtitle="Desenvolvedora Front-End"
        suffixSubtitle="UI Designer"
      />
      <p class="paragraph">
        Ao longo dos anos tenho trilhado uma jornada no mundo da programação,
        focando especialmente no Front-End, destacando-me em Angular,
        TypeScript, JavaScript e ReactJS. Utilizo o Figma para criar layouts,
        transformando ideias em páginas web interativas.
      </p>
    </div>
    <div class="social-icons">
      @for (icon of socialIcons; track $index) {
        <app-button
          [iconProps]="icon.iconProps"
          [buttonProps]="icon.buttonProps"
        ></app-button>
      }
    </div>
  </section>
  <section class="right-section">
    <img
      ngSrc="assets/images/desktop-computer.svg"
      alt="Desktop Image"
      width="516"
      height="514"
      sizes="100%"
      priority
    />
  </section>
</div>
