@use "../../../assets/styles/base/typography" as *;
@use "../../../assets/styles/base/mixins" as *;

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .left-section {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    .text-container {
      @include sm {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
      }

      .title {
        @include sm {
          display: flex;
          flex-direction: column;
          gap: 0.08rem;
        }

        .intro {
          @include heading-6;
        }
      }

      .paragraph {
        @include body-1;
      }
    }

    .social-icons {
      display: flex;
      gap: 2.4rem;
    }
  }

  .right-section {
    max-width: 64rem;

    @include xl {
      display: none;
      visibility: hidden;
    }
  }
}
