<div class="main-container">
  <section class="left-section">
    <div class="text-container">
      <div class="title">
        <span class="intro">Olá 👋, me chamo</span>
        <app-title title="Luciane Santos" />
        <app-sub-title
          subtitle="Desenvolvedora Front-End"
          suffixSubtitle="UI Designer"
        />
      </div>
      <p class="paragraph">
        Profissional Front-End com mais de três anos de experiência em
        desenvolvimento web dominando as linguagens HTML, CSS/Sass, JavaScript e
        TypeScript. Criação de layouts utilizando o framework Angular e
        biblioteca ReactJS. Conhecimento de User Interface/User Experience para
        o design de interfaces utilizando a ferramenta Figma.
      </p>
    </div>
    <div class="social-icons">
      <app-button
        class="cv-button"
        [iconProps]="cvButton.iconProps"
        [buttonProps]="cvButton.buttonProps"
        (clickEvent)="socialIconRedirect($event)"
      ></app-button>
      @for (icon of socialIcons; track $index) {
        <app-button
          [iconProps]="icon.iconProps"
          [buttonProps]="icon.buttonProps"
          (clickEvent)="socialIconRedirect($event)"
        ></app-button>
      }
    </div>
  </section>
  <section class="right-section">
    <img
      ngSrc="assets/images/desktop-computer.svg"
      alt="Desktop"
      width="516"
      height="514"
      sizes="100%"
      priority
    />
  </section>
</div>
