@use "../../../assets/styles/base/typography" as *;
@use "../../../assets/styles/base/mixins" as *;

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - 16rem);
  max-height: calc(100% - 16rem);

  .left-section {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    .text-container {
      .intro {
        @include heading-6;
      }

      .d {
        width: 100%;
      }

      .paragraph {
        @include body-1;
      }
    }

    .social-icons {
      display: flex;
      gap: 2.4rem;
    }
  }

  .right-section {
    max-width: 64rem;

    @include xl {
      display: none;
      visibility: hidden;
    }
  }
}
