@use "../../../../assets/styles/base/typography" as *;
@use "../../../../assets/styles/base/mixins" as *;

.subtitle {
  @include heading-4;

  @include lg {
    @include heading-5;
  }

  & > * {
    vertical-align: middle;
  }

  svg {
    display: inline-block;
  }

  .suffix-title {
    @include heading-6;

    margin: 0 1.2rem;
  }
}
