@use "../../../../assets/styles/base/typography" as *;
@use "../../../../assets/styles/base/mixins" as *;

.title {
  @include heading-2;

  @include lg {
    @include heading-3;
  }

  @include sm {
    @include heading-4;
  }

  & > * {
    vertical-align: middle;
  }

  svg {
    display: inline-block;
  }

  .suffix-title {
    @include heading-6;

    margin: 0 1.2rem;
  }
}
