<div class="main-container">
  <div class="title-container">
    <app-title
      title="Projetos"
      [suffixSubtitle]="isMDbreakPoint ? '' : subTitle"
    ></app-title>
  </div>

  <section class="section">
    @for (card of projects; track $index) {
      <app-card class="card" [cardProps]="card"></app-card>
    }

    <div class="card">
      <app-link
        class="link"
        [link]="linkOptions.link"
        [showIcon]="true"
        [iconProps]="linkOptions.iconProps"
        (selectedLink)="changeProjectType(linkOptions.changeProjectType)"
      ></app-link>
    </div>
  </section>
</div>
