<nav>
  @if (!isSMbreakPoint) {
    @for (link of navLinks; track link) {
      <app-router-link
        [routerLink]="link.routerLink"
        [routerLinkLabel]="link.routerLinkLabel"
        [showIcon]="link.showIcon"
        [iconProps]="link.iconProps"
        (click)="colapseDropdownLinksClick(link)"
      />
    }
  } @else {
    <app-button
      [buttonProps]="{
        showIcon: true
      }"
      [iconProps]="{
        iconName: 'Menu',
        iconSize: 16
      }"
      (click)="colapseDropdownLinksClick()"
    />
  }
</nav>

@if (colapseDropdownLinks && showDropdown) {
  <app-dropdown-links
    [links]="dropdownLinks"
    (selectedLink)="selectedLink($event)"
  />
}
