<nav>
  @if (!isSMbreakPoint) {
    @for (link of navLinks; track link) {
      <app-router-link
        [routerLink]="link.routerLink"
        [routerLinkLabel]="link.routerLinkLabel"
        [showIcon]="link.showIcon"
        [iconProps]="link.iconProps"
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        (click)="colapseDropdownLinksClick(link)"
      />
      <!-- TODO: IMPLEMENTAR DEPOIS -->
      <!-- @if (link?.isCollapsible) {
        <app-dropdown-links
          [class.show-dropdown]="link?.isCollapsible ?? null"
          [links]="dropdownLinks"
          [triggerOriginReference]="trigger"
          [isDropdownOpen]="showDropdown"
          (selectedLinkEvent)="selectedLink($event)"
        ></app-dropdown-links>
      } -->
    }
  } @else {
    <app-button
      [buttonProps]="{
        showIcon: true
      }"
      [iconProps]="{
        iconName: 'Menu',
        iconSize: 16
      }"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
      (click)="colapseDropdownLinksClick('mobile')"
    />
    <app-dropdown-links
      [class.show-dropdown]="null"
      [links]="dropdownLinks"
      [triggerOriginReference]="trigger"
      [isDropdownOpen]="showDropdown"
      (selectedLinkEvent)="selectedLink($event)"
    ></app-dropdown-links>
  }
</nav>
