@use "../../../../assets/styles/base/index.scss" as *;

nav {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 6.4rem;

  .show-dropdown {
    position: absolute;
  }

  @include md {
    gap: 2.4rem;
  }
}
